span{

    display: flex;

    width: 200px;
    height: 200px;

    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 200px 0px;
    border-radius: 30px;

    cursor: pointer;


    justify-content: center;
    align-items: center;
    font-size: 100px;

    font-family: sans-serif;
    font-weight: 900;

}

span:hover{

}

span:hover{

    background-color: rgba(255, 255, 255, 0.712);

}

table{

    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);


}

body{

    background-image:url(fondo.png);
    background-size: cover;

    

}